<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script>
    (function() {
        $("#now span.fa").on("click", function() {
            var $span = $(this),
                $parentTr = $span.closest("tr");
    
            //remove
            if ($span.hasClass("fa-rotate-90")) {
                $span.removeClass("fa-rotate-90");
                $parentTr
                    
                    .next()
                    .children("td")
                    .animate({ padding: 0 })
                    .wrapInner("<div />")
                    .children()
                    .slideUp(function() {
                        var $tr = $(this).closest("tr");
    
                        // $tr
                        // 	.prev("tr")
                        // 	.find(".active")
                        // 	.removeClass("active");
                        $tr.remove();
                    $parentTr.removeClass("tr-selected");
                    });
    
                return;
            }
    
            //add
            $span.addClass("fa-rotate-90");
            if ($parentTr.next().hasClass("tr-detail")) return;
            $parentTr.addClass("tr-selected");
            // 	.eq(1)
            // 	.addClass("active");
            $("#tr-detail" + $parentTr.attr("data"))
                .clone()
                .removeClass("hidden")
                .insertAfter($parentTr)
                .children("td")
                .animate()
                .wrapInner("<div style='display:none'/>")
                .children()
                .slideDown();
        });

        $("#prev span.fa").on("click", function() {
            var $span = $(this),
                $parentTr = $span.closest("tr");
    
            //remove
            if ($span.hasClass("fa-rotate-90")) {
                $span.removeClass("fa-rotate-90");
                $parentTr
                    
                    .next()
                    .children("td")
                    .animate({ padding: 0 })
                    .wrapInner("<div />")
                    .children()
                    .slideUp(function() {
                        var $tr = $(this).closest("tr");
    
                        // $tr
                        // 	.prev("tr")
                        // 	.find(".active")
                        // 	.removeClass("active");
                        $tr.remove();
                    $parentTr.removeClass("tr-selected");
                    });
    
                return;
            }
    
            //add
            $span.addClass("fa-rotate-90");
            if ($parentTr.next().hasClass("tr-detail")) return;
            $parentTr.addClass("tr-selected");
            // 	.eq(1)
            // 	.addClass("active");
            $("#prevtr-detail" + $parentTr.attr("data"))
                .clone()
                .removeClass("hidden")
                .insertAfter($parentTr)
                .children("td")
                .animate()
                .wrapInner("<div style='display:none'/>")
                .children()
                .slideDown();
        });
        
   
    })();
    </script>
</body>
</html>
